BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
Language: Cpp
Standard: c++20

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<sarsa/'
    Priority: 2
  - Regex: '^<'
    Priority: 3
  - Regex: '.*'
    Priority: 1

PointerAlignment: Left
ReferenceAlignment: Left

NamespaceIndentation: None
FixNamespaceComments: true

AlignAfterOpenBracket: Align
AlignOperands: Align
AlignTrailingComments: true
BinPackArguments: false
BinPackParameters: false
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
